@charset "UTF-8";
/* CSS Document */

@media screen and (min-width:1024px) {
	/*　for PC　*/
	
div#hoge{
/*width:100%;
height:530px;
margin:30px auto 0;
background-color:#000;
position:relative;
z-index:0;*/
background: #000 none repeat scroll 0 0;
min-height: 100%;
transition: transform 0.5s ease 0s;
z-index: 10;
}
div#hoge002{
/*width:100%;
height:100%;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
display:block;
z-index:0;*/
background-color: #000;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
position: absolute;
width: 100%;
}
div#hoge h1{
color:#ffffff;
font-size:2.5em;
text-align:center;
padding-top:50px;
position:relative;
z-index:99;
}
div#hoge div.journey{
margin:0 auto;
width:236px;
padding-top:50px;
position:relative;
z-index:99;
}
div#hoge div.journey div.first,
div#hoge div.journey div.second,
div#hoge div.journey div.third{
padding:15px;
border:3px solid #fff;
width:200px;
border-radius: 20px;
}
div#hoge div.journey p{
color:#ffffff;
font-size:2.5em;
text-align:center;
}
div#footerArea p{
text-align:center;
margin-top:140px;
position:relative;
z-index:99;
color:#fff;
}
div#hoge a:link {
text-decoration:none;
}
div#hoge div.journey div.first:hover,
div#hoge div.journey div.second:hover,
div#hoge div.journey div.third:hover{
background-color:#4EE0E7;
}
/* 20151226.html */
div#trip{
background:#f2fdff;
height:100%;
padding-bottom:30px;
}
div#trip div.trip01{
margin:0 auto 20px;
width:400px;
padding:30px;
border:1px #000 solid;
border-radius: 10px;
}
div#trip div.return{
margin:0 auto;
width:30px;
padding:10px;
border:1px #000 solid;
border-radius: 20px;
}
div#trip div.return p.return01{
text-align:center;
}
div#trip h1{
font-size:2.5em;
text-align:center;
padding-top:50px;
}
div#trip div.anchor{
margin:0 auto 50px;
width:462px;
}
div#trip div.anchor p.anchor01{
float:left;
}
div#trip div.anchor p.anchor02{
float:right;
}
div.trip01 p.time,
div.trip01 p.action{
float:left;
width:200px;
}
div.trip01 p.other{
width:200px;
margin-top:25px;
}
div.trip01 p.other02{
width:200px;
margin-top:10px;
}
div#footerArea01{
background:#f2fdff;
}
div#footerArea01 p{
text-align:center;
padding:40px 0 10px;
}
/* 20151227.html */
/* 20151228.html */

}



/* iPhone 縦 */

@media screen and (min-width:480px) { 

	/*　for iPhone Landscape　(iPhone 横)　*/
div#hoge{
/*width:100%;
height:530px;
margin:30px auto 0;
background-color:#000;
position:relative;
z-index:0;*/
background: #000 none repeat scroll 0 0;
min-height: 100%;
transition: transform 0.5s ease 0s;
z-index: 10;
}
div#hoge002{
/*width:100%;
height:100%;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
display:block;
z-index:0;*/
background-color: #000;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
position: absolute;
width: 100%;
}
div#hoge h1{
color:#ffffff;
font-size:2.5em;
text-align:center;
padding-top:50px;
position:relative;
z-index:99;
}
div#hoge div.journey{
margin:0 auto;
width:236px;
padding-top:50px;
position:relative;
z-index:99;
}
div#hoge div.journey div.first,
div#hoge div.journey div.second,
div#hoge div.journey div.third{
padding:15px;
border:3px solid #fff;
width:200px;
border-radius: 20px;
}
div#hoge div.journey p{
color:#ffffff;
font-size:2.5em;
text-align:center;
}
div#footerArea p{
text-align:center;
margin-top:140px;
position:relative;
z-index:99;
color:#fff;
}
div#hoge a:link {
text-decoration:none;
}
div#hoge div.journey div.first:hover,
div#hoge div.journey div.second:hover,
div#hoge div.journey div.third:hover{
background-color:#4EE0E7;
}
/* 20151226.html */
div#trip{
background:#f2fdff;
height:100%;
padding-bottom:30px;
}
div#trip div.trip01{
margin:0 auto 20px;
width:400px;
padding:30px;
border:1px #000 solid;
border-radius: 10px;
}
div#trip div.return{
margin:0 auto;
width:30px;
padding:10px;
border:1px #000 solid;
border-radius: 20px;
}
div#trip div.return p.return01{
text-align:center;
}
div#trip h1{
font-size:2.5em;
text-align:center;
padding-top:50px;
}
div#trip div.anchor{
margin:0 auto 50px;
width:462px;
}
div#trip div.anchor p.anchor01{
float:left;
}
div#trip div.anchor p.anchor02{
float:right;
}
div.trip01 p.time,
div.trip01 p.action{
float:left;
width:200px;
}
div.trip01 p.other{
width:200px;
margin-top:25px;
}
div.trip01 p.other02{
width:200px;
margin-top:10px;
}
div#footerArea01{
background:#f2fdff;
}
div#footerArea01 p{
text-align:center;
padding:40px 0 10px;
}
}
@media screen and (max-width: 480px) {
/* 480pxまでの幅の場合に適応される */
div#hoge{
/*width:100%;
height:530px;
margin:30px auto 0;
background-color:#000;
position:relative;
z-index:0;*/
background: #000 none repeat scroll 0 0;
min-height: 100%;
transition: transform 0.5s ease 0s;
z-index: 10;
}
div#hoge002{
/*width:100%;
height:100%;
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
display:block;
z-index:0;*/
background-color: #000;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
height: 100%;
position: absolute;
width: 100%;
}
div#hoge h1{
color:#ffffff;
font-size:2.5em;
text-align:center;
padding-top:50px;
position:relative;
z-index:99;
}
div#hoge div.journey{
margin:0 auto;
width:236px;
padding-top:50px;
position:relative;
z-index:99;
}
div#hoge div.journey div.first,
div#hoge div.journey div.second,
div#hoge div.journey div.third{
padding:15px;
border:3px solid #fff;
width:200px;
border-radius: 20px;
}
div#hoge div.journey p{
color:#ffffff;
font-size:2.5em;
text-align:center;
}
div#footerArea p{
text-align:center;
margin-top:140px;
position:relative;
z-index:99;
color:#fff;
}
div#hoge a:link {
text-decoration:none;
}
div#hoge div.journey div.first:hover,
div#hoge div.journey div.second:hover,
div#hoge div.journey div.third:hover{
background-color:#4EE0E7;
}


div#trip{
background:#f2fdff;
height:100%;
padding-bottom:30px;
}
div#trip div.trip01{
margin:0 auto 20px;
width:200px;
padding:30px;
border:1px #000 solid;
border-radius: 10px;
}
div#trip div.return{
margin:0 auto;
width:30px;
padding:10px;
border:1px #000 solid;
border-radius: 20px;
}
div#trip div.return p.return01{
text-align:center;
}
div#trip h1{
font-size:2.5em;
text-align:center;
padding-top:50px;
}
div#trip div.anchor{
margin:0 auto 50px;
width:262px;
}
div#trip div.anchor p.anchor01{
float:left;
}
div#trip div.anchor p.anchor02{
float:right;
}
div.trip01 p.time,
div.trip01 p.action{
float:left;
width:200px;
}
div.trip01 p.other{
width:200px;
margin-top:25px;
}
div.trip01 p.other02{
width:200px;
margin-top:10px;
}
div#footerArea01{
background:#f2fdff;
}
div#footerArea01 p{
text-align:center;
padding:40px 0 10px;
}
}
@media screen and (max-width: 320px) {
/* 320pxまでの幅の場合に適応される */
div#trip{
background:#f2fdff;
height:100%;
padding-bottom:30px;
}
div#trip div.trip01{
margin:0 auto 20px;
width:200px;
padding:30px;
border:1px #000 solid;
border-radius: 10px;
}
div#trip div.return{
margin:0 auto;
width:30px;
padding:10px;
border:1px #000 solid;
border-radius: 20px;
}
div#trip div.return p.return01{
text-align:center;
}
div#trip h1{
font-size:2.5em;
text-align:center;
padding-top:50px;
}
div#trip div.anchor{
margin:0 auto 50px;
width:262px;
}
div#trip div.anchor p.anchor01{
float:left;
}
div#trip div.anchor p.anchor02{
float:right;
}
div.trip01 p.time,
div.trip01 p.action{
float:left;
width:200px;
}
div.trip01 p.other{
width:200px;
margin-top:25px;
}
div.trip01 p.other02{
width:200px;
margin-top:10px;
}
div#footerArea01{
background:#f2fdff;
}
div#footerArea01 p{
text-align:center;
padding:40px 0 10px;
}
}


